/* DEXTER STYLESHEET FOR FIREFOX */

/* Toolbars */
#nav-bar {
    background-color: #333333 !important;
    background-image: none !important;
    border-top-width: 0px !important;
    max-height: 30px !important;
}

#urlbar-container {
    padding-left: 10px !important;
}

#urlbar {
    background-color: #333333 !important;
    border-color: #666666 !important;
    border-style: none none dashed none !important;
    color: #EEEEEE !important;
    padding-left: 4px !important;
}

#identity-box,
#urlbar-reload-button {
    display: none !important;
}

/* Tabs */

#TabsToolbar {
    padding-top: 0 !important;
}

#tabbrowser-tabs {
    max-height: 25px !important;
    min-height: 25px !important;
    background: transparent !important;
}

.tabbrowser-tab {
    background: transparent !important;
    font-family: mono !important;
    font-size: 12px !important;
    color: #EEEEEE !important;
    border: none !important;
    padding: 0 0 0 0 !important;
}

.tabbrowser-tab > .tab-stack {
    padding: 0 0 0 11px !important;
}

.tabbrowser-tab[selected=true] {
    background: #666666 !important;
    font-weight: bold !important;
}

.tab-background-start, .tab-background-end, .tab-icon {
    display: none !important;
}

.tab-background-middle, .tab-background, .tab-content, 
.tab-text-stack, .arrowscrollbox-scrollbox {
    margin: 0 !important;
    padding: 0 !important;
    background: inherit !important;
}

/* Buttons */

.tabs-newtab-button {
    list-style-image: url('https://raw.githubusercontent.com/jackdpage/dexter/master/icon/material/add.png') !important;
}

.tabs-newtab-button:hover {
    background-image: none !important;
    list-style-image: url('https://raw.githubusercontent.com/jackdpage/dexter/master/icon/material/add-green.png') !important;
}

.tab-close-button {
    margin-right: 2px !important;
    list-style-image: url('https://raw.githubusercontent.com/jackdpage/dexter/master/icon/material/clear.png') !important;
}

.tab-close-button:hover {
    list-style-image: url('https://raw.githubusercontent.com/jackdpage/dexter/master/icon/material/clear-red.png') !important;

}

.close-icon {
    background-image: url('https://raw.githubusercontent.com/jackdpage/dexter/master/icon/material/clear.png') !important;
}

.close-icon:hover {
    background-image: url('https://raw.githubusercontent.com/jackdpage/dexter/master/icon/material/clear-red.png') !important;
}

#back-button,
#forward-button {
    display: none !important;
}

#bookmarks-menu-button {
    background-image: none !important;
}
    
.toolbarbutton-menubutton-button {
    list-style-image: url('https://raw.githubusercontent.com/jackdpage/dexter/master/icon/material/grade.png') !important;
    -moz-image-region: rect(0px 18px 18px 0px) !important;
}

.toolbarbutton-menubutton-dropmarker {
    display: none !important;
}

#downloads-button {
    list-style-image: url('https://raw.githubusercontent.com/jackdpage/dexter/master/icon/material/arrow_downward.png') !important;
    -moz-image-region: rect(0px 18px 18px 0px) !important;
}

#PanelUI-button {
    border-left: none !important;
}

#PanelUI-menu-button {
    list-style-image: url('https://raw.githubusercontent.com/jackdpage/dexter/master/icon/material/menu.png') !important;
    -moz-image-region: rect(0px 18px 18px 0px) !important;
    padding: 0 0 0 0 !important;
}
